.footer {
  background-color: black;
  height: 84px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 0%;
  font-size: 20px;
}

#logo-footer {
  width: 60px;
  height: 60px;
  margin: auto 10px;
}

.links-footer {
  display: flex;
}

h3 {
  color: white;
}

.links-footer {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin: auto 10px;
}

.icons-footer {
  display: flex;
  margin: auto 0px;
  gap: 5px;
  margin-right: 30px;
}

.icons-f {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .icons-f {
    width: 30px;
    height: 30px;
  }

  .icons-footer {
    gap: 10px;
  }

  #sobre-footer {
    display: none;
  }
}