@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

.main {
  background: #d9d9d9;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

span {
  text-decoration: underline;
}

#sobre {
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto Serif', serif;
  margin-bottom: 50px;
}

#description {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
}

.about {
  margin: auto;
  width: 100%;
  margin-left: 100px;
}

#selfie-container {
  justify-self: end;
  overflow: hidden;
  width: 70%;
  display: flex;
  justify-content: end;
}

#selfie {
  display: inline-block;
  height: 100%;
  position: sticky;

}

@media (max-width: 600px) {
  .main {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 85%;
  }

  .about {
    font-size: 10px;
    width: 95%;
    margin-left: 4px;
  }

  #selfie-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
}
