@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

.main {
  background: #d9d9d9;
  height: 80vh;
  display: flex;
  overflow: auto;
}

span {
  text-decoration: underline;
}

#sobre {
  font-size: 3em;
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto Serif', serif;
  margin: 3px;
}

#description {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
}

.about {
  margin: auto;
  width: 50%;
}

#selfie-container {
  overflow: hidden;
}

#selfie {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 50%;
}
