.nav {
  background-color: black;
  height: 84px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0%;
  font-size: 20px;
}

#logo {
  width: 60px;
  height: 60px;
  margin: auto 10px;
}

.links-pai {
  display: flex;
}

.links {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin: auto 10px;
}

.icons-pai {
  width: 12%;
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}

.icons {
  width: 40px;
  height: 40px;
}