#projetos {
  text-align: center;
  margin-top: 40px;
}

#projects-ancora {
  text-decoration: none;
  color: black;
}

.projects-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2%;
  margin: auto;
  justify-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 300px;
  padding: 10%;
}

.project:hover {
  border: solid black 1px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
