.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 500px;
  overflow-y: scroll;

}

.project {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  width: 400px;
  height: 300px;
}

.project-img {
  width: 100px;
  height: 100px;
  padding-left: 160px;
}

