#projetos {
  text-align: center;
  margin-top: 40px;
}

#projects-ancora {
  text-decoration: none;
  color: black;
}

.projects-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8%;
  margin: auto;
  padding: 10px;
  justify-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.project h2 {
  margin-bottom: 0;
}

.project:hover {
  transform: scale(1.1);
  color: rgb(32, 147, 179);
}
