#stacks {
  margin-top: 30px;
  text-align: center;
}

hr {
  width: 50%;
  margin: 40px auto;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.skills-img {
  width: 100px;
  height: 100px;
}